*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
}

.footer{
    width: 1440px;
    height: 575px;
    background-color: #F7F7F7;
    margin: auto;
}

.sectionWithHeadingTwo{
    width: 400px;
    height: 600px;
}